$color-primary: #F8F5EE;
$color-secondary: #66605B;
$color-tertiary: #15100F;
$color-cuaternary: #55524E;

$color-red: #ff0000;
$color-blue: #068FFF;
$color-green: #1F8A70;
$color-gray: gray;
$color-yellow: #EDBD42;

$color-border: #0E1727;
$color-border-secondary: #55524E;
$color-border-tertiary: #e0dada;

$text-color: #4D4C4C;
$text-color-secondary: #0E1727;
$text-color-tertiary: #E2DFD8;

$text-color-light: #FFFFFF;

$background-color: #F8F5EE;
$background-color-secondary: #66605B;
$background-color-tertiary: #E2DDD5;
$background-color-cuaternary: #E2DFD8;
$background-color-quinto: #B8AE9D;

$background-color-skeletons: #A1988F;

.blur{
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
}

$margin-bottom: 20px;
$padding: 30px;
$padding-horizontal: 10px;
$border-radius: 6px;
$gap: 8px;

//Font-size
$font-big: 38px;
$font-med: 22px;
$font-normal: 16px;
$font-sm: 12px;

//Phone
$font-normal-phone: 16px;
$font-sm-phone: 14px;
