@import "./mixins.scss";

.button {
    border-width: 0px;
    padding: $padding-horizontal / 1.5;
    text-transform: capitalize;
    font-weight: bold;
    background-color: $background-color-tertiary;
    display: flex;
    justify-content: center;
    gap: $padding-horizontal;
    color: $text-color;
    width: 100%;

    &.secondary{
        width: 30%;

        @include respond (phone) {
            width: 100%;
            
        }
    }

    &.disabled {
        opacity: 60%;

        &:hover {
            background-color: $background-color-tertiary;
        }
    }

    &:hover {
        border: 1px solid $color-border-secondary;
        cursor: pointer;
        transition: 0.3s ease;
    }
}

.button_secondary {
    border-width: 1px;
    padding: $padding-horizontal / 1.5;
    text-transform: capitalize;
    font-weight: bold;
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
    gap: $padding-horizontal;
    border-color: $color-border;
    color: $text-color-tertiary;
    width: 100%;

    &.disabled {
        opacity: 60%;
    }

    &:hover {
        background-color: $color-primary;
        cursor: pointer;
        transition: 0.3s ease;
    }
}

.input {
    border-width: 0px;
    background-color: $background-color-tertiary;
    padding: $padding-horizontal 0px $padding-horizontal $padding-horizontal;
    font-size: 16px;
    height: 40px;
    border: 1px solid $background-color;

    overflow-y: scroll; /* Esto permite que el contenido sea desplazable */

    /* Firefox */
    scrollbar-width: thin; /* Reduce el grosor de la barra */
    scrollbar-color: transparent transparent; /* Barra transparente, sin color de fondo */

    /* IE y Edge */
    -ms-overflow-style: scrollbar;

    /* Chrome, Safari y Opera */
    &::-webkit-scrollbar {
        width: 8px; /* Define el tamaño de la barra de desplazamiento */
    }

    &::-webkit-scrollbar-track {
        background: transparent; /* Elimina el fondo de la barra (track) */
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888; /* Define el color de la "thumb" (el pulgar) */
        border-radius: 10px; /* Opcional: hace que el thumb tenga bordes redondeados */
    }

    &.secondary {
        border-width: 1px;
        background-color: $background-color-cuaternary;
    }
}
