
.button{
    border-width: 1px;
    padding: $padding-horizontal / 1.5;
    border-radius: $border-radius * 20;
    text-transform: uppercase;
    font-size: $font-normal;
    font-weight: bold;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    gap: $padding-horizontal;

    &:hover{
        background-color: $color-tertiary;
        color: $text-color-secondary;
        cursor: pointer;
    }
}

.input{
    height: 30px;
    border-color: $color-border;
    border-radius: $border-radius;
    border-width: 1px;
}