
.button{
    border-width: 1px;
    padding: $padding-horizontal / 1.5;
    border-radius: $border-radius;
    text-transform: uppercase;
    font-size: $font-normal;
    font-weight: bold;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    gap: $padding-horizontal;

    &:hover{
        background-color: $color-tertiary;
        color: $text-color-secondary;
        cursor: pointer;
    }
}

.button_secondary{
    border-width: 1px;
    padding: $padding-horizontal / 1.5;
    border-radius: $border-radius;
    text-transform: uppercase;
    font-size: $font-normal;
    font-weight: bold;
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
    gap: $padding-horizontal;

    &:hover{
        background-color: $color-tertiary;
        color: $text-color-secondary;
        cursor: pointer;
    }
}

.input{
    height: 30px;
    border-color: #00000029;
    border-radius: $border-radius;
    border-width: 1px;
    background-color: $color-secondary;

    &.secondary{
        border-width: 1px;
        background-color: $color-primary;
    }
}