@import "./main.scss";

.Contact {
    display: flex;
    flex-direction: column;
    justify-content: 'center';
    align-items: center;
    width: 100%;
    padding: 10px 200px 100px;
    border-bottom: solid;
    border-color: $color-border-tertiary;
    border-width: 1px;

    .ContactContent {
        width: 50%;
        display: flex;
        flex-direction: column;

        .ContactForm {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .inputContainer {
                display: flex;
                margin-bottom: $global-margin-bottom;
                flex-direction: column;
                justify-content: center;

                label {
                    width: 10%;
                }
            }
        }
    }

}