@import "./main.scss";

.Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: $padding-horizontal;
    background-color: rgba($color: $background-color-secondary, $alpha: 0.25);
    
    &.center{
        align-items: center;
    }

    .ContactContent {
        width: 60%;
        display: flex;
        flex-direction: column;
        
        h1{
            font-size: $font-big;
            margin-bottom: $margin-bottom;

            @include respond(tab-port) {
                font-size: $font-med;
            };
        }

        @include respond(tab-port) {
            width: 70%;
        }
    
        @include respond(phone) {
            width: 90%;
        }

        .ContactForm {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .inputContainer {
                display: flex;
                margin-bottom: $margin-bottom;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    .ContactFooter{
        margin-top: $margin-bottom * 5;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        :hover{
            cursor: pointer;
            text-decoration: underline
        }
    }

};