@import "./main.scss";

@font-face {
  font-family: "Mulish-Light";
  src: url("/fonts/MulishLight.ttf");
  font-weight: lighter;
  font-display: swap;
}

@font-face {
  font-family: "Mulish-Regular";
  src: url("/fonts/MulishRegular.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish-Medium";
  src: url("/fonts/MulishMedium.ttf");
  font-weight: bold;
  font-display: swap;
}

html,
body {
  overflow-x: hidden;
  background-color: $color-primary;
  font-family: 'Mulish-Regular';
  font-size: $font-normal;
  color: $text-color;
}

body {
  color: $text-color;
  font-family: 'Mulish-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;

  @include respond(big-desktop) {
    font-size: 1.5rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Mulish-light';
}

a {
  color: inherit;
  text-decoration: none;

}

h1 {
  font-size: $font-med;
  z-index: 99;
  letter-spacing: 2px;
  font-family: 'Mulish-light';
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;

  @include respond(big-desktop) {
    font-size: $font-med;
  }

  @include respond(tab-port) {
    font-size: $font-med;
  }

  @include respond(phone) {
    font-size: $font-big / 2;
  }
}

;

h2 {
  font-family: 'Mulish-light';
  font-size: $font-med;
}