@import "./main.scss";

.Grid {
  height: 100%;

  .gridNavigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    overflow-x: hidden;

    .goBack {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: $gap;
      margin-bottom: $margin-bottom;
      cursor: pointer;
      text-transform: capitalize;
      text-align: justify;

      :hover {
        text-decoration: underline;
      }
    }

    h2 {
      flex-direction: column;
      text-transform: uppercase;
      margin-bottom: $margin-bottom;
      width: auto;
    }

    p {
      text-justify: distribute;
      text-align: justify;
    }

    .option {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 5px;
      justify-content: center;
      margin-bottom: $margin-bottom / 2;

      a {
        min-width: fit-content;
      }

      .circle {
        background-color: transparent;
        min-width: 6px;
        height: 6px;
        border-radius: 50%;
        border: 1px solid $color-cuaternary;
        opacity: 0;
        transition: opacity 0.3s ease, background-color 0.3s ease;
      }

      .activeCircle {
        opacity: 1;
        min-width: 6px;
        background-color: $color-cuaternary;
      }

      &:hover {
        .line {
          opacity: 1;
        }

        .circle {
          opacity: 1;
        }
      }
    }
  }

  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Siempre 2 columnas de igual ancho
    width: 100%;
    padding: $padding;
    gap: $gap * 2;
    overflow-x: hidden;
    height: auto;

    overflow-y: scroll;

    // Ocultar el scrollbar
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE y Edge

    &::-webkit-scrollbar {
      display: none; // Chrome, Safari y Opera
    }

    @include respond(phone) {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
      padding: $padding;
    }

    .productCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      transition: transform 0.2s;
      height: 90vh;
      position: relative;
      gap: $gap;

      @include respond(phone) {
        height: 75vh;
        margin-bottom: $margin-bottom;
      }

      .imageWrapper {
        position: relative;
        width: 100%;
        height: 85vh;

        @include respond(phone) {
          height: 75vh;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 1;
          animation: none;
        }

        .image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 0;
          /* Imagen oculta por defecto */
          transition: opacity 1s ease-in-out;
          /* Transición suave */
        }

        .active {
          opacity: 1;
          /* Imagen activa completamente visible */
          z-index: 2;
          /* Asegura que esté por encima */
        }

        .image:not(.active) {
          opacity: 0;
          /* Imagen que desaparece */
          z-index: 1;
          /* Mantiene la imagen por debajo */
        }

      }

      .notImage {
        background-color: $background-color-tertiary;
        width: 100%;
        height: 100%;
      }
    }
  }

}

/* Para garantizar que la animación sea fluida */
@keyframes fade-in {
  0% {
    opacity: 0.5;
    /* Comienza con opacidad parcial */
  }

  100% {
    opacity: 1;
    /* Termina completamente visible */
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    /* Comienza completamente visible */
  }

  100% {
    opacity: 0;
    /* Termina completamente invisible */
  }
}