.Home {
    //padding: 20px 60px;
    width: 100%;
    position: relative; // Necesario para el contenedor de la imagen
    height: 100vh; // Ocupa el 100% de la altura de la ventana
    overflow: hidden; // Para ocultar cualquier desbordamiento

    .imageContainer {
        position: relative; // Necesario para que el hijo con layout="fill" funcione
        width: 100%; // Ocupa el 100% del ancho
        height: 100%; // Ocupa el 100% de la altura
    }

}