@import "./main.scss";

.Home {

    .HomeBackground {
        overflow: hidden;
        position: absolute;
        top: 0px;
        height: 100vh;
        width: 100%;

        .imageContainer {
            position: relative;
            width: 100%;
            height: 100%;
        };
    };

    .HomeHeader {
        display: flex;
        position: relative;
        position: absolute;
        bottom: $padding-horizontal * 3;
        left:  $padding-horizontal * 3;
        width: 50%;

        @include respond(tab-port) {
            width: 60%;
        }
    
        @include respond(phone) {
            width: 80%;
        }

        h1{
            color: $text-color-secondary;
            font-size: $font-big;
            line-height: $font-big;
            z-index: 99;
            letter-spacing: 10px;

            @include respond(big-desktop) {
                font-size: $font-med * 5;
                line-height: $font-med * 5;
            }

            @include respond(phone) {
                font-size: $font-med * 3;
                line-height: $font-med * 3;
            }
        }
        
    };

    .HomeMenu{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: $margin-bottom * 2;

        @include respond(phone) {
            display: none
        };

        .section{
            list-style: none;
            text-transform: uppercase;
            display: flex;
            justify-content: flex-end;
            font-weight: bold;
            margin-bottom: $margin-bottom / 2;

            &:hover {
                text-decoration: underline;
            };
        };
    }

}