@import "./main.scss";

.sliderContainer{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: $padding;

    @include respond(phone) {
        height: 80vh;
    };

    .imageWrapper{
        position: relative;
        height: 100%;

        img{
            object-fit: cover;
            width: 100%;
            height: 100%
        }

        .notImage{
            background-color: $background-color-tertiary;
            width: 100%;
            height: 100%
        }
    };

    .dotsContainer{
        position: absolute;
        bottom: calc(5% + $padding);
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;

        .dot{
            width: 20px;
            height: 5px;
            background-color: $background-color;
            cursor: pointer;
        }

        .dotActive{
            background-color: $background-color-tertiary;
        }
    }
}