@import "./main.scss";

.layoutRight {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;

    @include respond(phone) {
        height: 100%;
        flex-direction: column-reverse;
    }

    .content {
        width: 80%;

        overflow-y: scroll;

        /* Ocultar el scrollbar */
        /* Firefox */
        scrollbar-width: none;
        /* IE y Edge */
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            /* Chrome, Safari y Opera */
            display: none;
        }

        @include respond(tab-port) {
            width: 70%;
        }

        &__secondaryDesign {
            width: 80%;

            @include respond(tab-port) {
                width: 60%;
            }

            @include respond(phone) {
                width: 100%;
                height: 100%;
                margin-top: 0%;
            }

        }

        @include respond(phone) {
            width: 100%;
            height: 100%;
            margin-top: 20%; // 15% of .sidebar phone. + 5%
        }
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 20%;
        right: 0px;
        align-items: center;
        padding: $padding;
        margin-bottom: 130px;
        position: relative;
        overflow-y: auto;

        @include respond(tab-port) {
            width: 30%;
        }

        @include respond(phone) {
            display: none
        }

        .sidebar_content {

            @include respond(phone) {
                display: none;
            }
        }

        .sidebar_image {
            display: block;
            width: 100%;
            margin: 0 auto;
            margin-bottom: $margin-bottom;
            max-width: 150px;

            img {
                object-fit: contain;
                /* Asegura que la imagen no se deforme */
            }

            @include respond(big-desktop) {
                max-width: 200px;
            }

            @include respond(phone) {
                position: fixed;
                top: $padding-horizontal;
                right: $padding-horizontal;
                width: 60px;
                max-width: 100px;
            }
        }

        .sidebar_bottom {
            position: fixed;
            background-color: $color-primary;
            width: 20%;
            height: 130px;
            right: 0;
            bottom: 0;

            @include respond(tab-port) {
                width: 40%;
            }

            @include respond(phone) {
                display: none
            }
        }

    }

    .sidebarlogomobil {
        display: none;
        position: fixed;
        top: $padding;
        right: $padding;
        z-index: 99;
        max-width: 100px;

        /* Ajusta el tamaño del contenedor al tamaño de la imagen */
        width: auto;
        /* Se adapta al contenido */
        height: auto;
        /* Se adapta al contenido */

        .sidebar_image {
            width: 100%;
            /* Controla el ancho desde aquí */
            height: auto;
            /* Asegura que la altura sea proporcional */
            position: relative;

            .imageContainerMovil {
                display: flex;
                width: 100%;
                /* Hereda el ancho del contenedor padre */
                height: auto;
                /* Ajusta la altura automáticamente */
                cursor: pointer;
                object-fit: contain;
                /* Asegura que la imagen se ajuste al contenedor */
            }
        }

        @include respond(phone) {
            display: flex;
        }
    }


    .sidebarMobil {
        display: none;
        padding: $padding;

        @include respond(phone) {
            display: flex
        }
    }
}