@import "./main.scss";

.header {
    display: flex;
    justify-content: space-between;
    z-index: 999;
    position: relative;
    padding: $padding-horizontal;

    .imageContainer {
        width: 100px;
        height: 100px;
        position: relative;

        @include respond(phone) {
            width: 70px;
            height: 70px;
        }

        ;
    }
}

.menu {

    .menuBackground {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 999;
        height: 100%;
        min-width: 400px;
        background-color: $color-primary;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include respond(tab-port) {
            width: 100%;
        }

        ;

        .menuContainer {
            padding: $padding-horizontal;

            .luce {
                width: "auto";
                height: 100px;
                position: relative;
                margin-bottom: $margin-bottom * 2;

                display: flex;
                justify-content: flex-end;

                @include respond(phone) {
                    img {
                        width: 70px;
                        height: 70px;
                    }
                };
            }

            .sectionsContainer {
                padding-right: $padding-horizontal * 2;

                .section {
                    font-size: $font-med;
                    font-weight: 'bold';
                    text-transform: uppercase;
                    text-decoration: none;
                    cursor: pointer;
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: $margin-bottom;

                    &a {
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        padding-right: $padding-horizontal * 3
                    };

                    &:hover {
                        text-decoration: underline;
                    }

                    ;

                    .dropdown {
                        position: absolute;
                        right: - $padding-horizontal;
                        background-color: $color-primary;
                        margin-top: $margin-bottom;
                        z-index: 1000;
                        margin: 0;
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        justify-content: center;
                    }

                    ;
                }

                ;
            }

        }
    };

    .hamburguer {
        position: absolute;
        z-index: 9999;
        cursor: pointer;
        right: $padding-horizontal * 4;
        bottom: $padding-horizontal * 4;
    
        @include respond(tab-port) {
            right: $padding-horizontal * 2;
            bottom: $padding-horizontal * 2;
        }
    
        @include respond(phone) {
            left: $padding-horizontal * 2;
            top: $padding-horizontal * 2 + (70px / 4);
        }
    
        .bar {
            width: 50px;
            height: 2px;
            border-radius: 5px;
            background-color: $color-tertiary;
            margin-bottom: $margin-bottom / 2;
            transition: all 0.3s ease;
    
            // Reset position to default when not active
            &:nth-child(1),
            &:nth-child(3) {
                transform-origin: center;
            }
        }
    
        // Animaciones para el estado "active"
        .activeBar1 {
            transform: translateY(50%) rotate(45deg);
        }
    
        .activeBar2 {
            opacity: 0;
        }
    
        .activeBar3 {
            transform: translateY(-13px) rotate(-45deg);
        }
    };
};