@import "./main.scss";

.topNavigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 60px;
    border-bottom: solid;
    border-color: $color-border-tertiary;
    border-width: 1px;



    li :hover {
        text-decoration: underline;
    }

    .container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        list-style: none;

        li :hover {
            text-decoration: none;
        }

        .dropdown {
            position: absolute;
            background-color: white;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            padding: 10px;
            margin: 0;
            list-style: none;
        };

        .dropdown li {
            padding: 5px 0; // Espaciado entre categorías
        }

        .dropdown li a {
            text-decoration: none; // Sin subrayado
            color: black; // Color de texto
        }

        .dropdown li:hover {
            background-color: #f0f0f0; // Color de fondo al pasar el mouse
        }

    }
}

;


.bottomNavigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 60px;
    border-top: solid;
    border-color: $color-border-tertiary;
    border-width: 1px;

    li :hover {
        text-decoration: underline;
    }

    .container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        list-style: none;

        .column {
            display: flex;
            flex-direction: column
        }
    }
}

;

.ContactNavNavigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 40px 200px;
    border-top: solid;
    border-color: $color-border-tertiary;
    border-width: 1px;
}