@import "./main.scss";

.Categories {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  height: 100%;

  .CategoriesNavigation {
    margin-bottom: $margin-bottom;
    width: 100%;
    height: 100vh;
    padding: $padding-horizontal;
    padding-top: 10%;

    display: flex;
    flex-direction: column;
    text-align: start;

    h2{
      text-transform: uppercase;
    }

    >ul {
      list-style: none;
    };
  }

  .gridContainer {
    width: 100%;
    padding: $padding-horizontal;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    @include respond(phone) {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
    }

    ;

    .productCard {
      background-color: $background-color;
      border: 1px solid $color-border;
      overflow: hidden;
      transition: transform 0.2s;
      height: fit-content;

      :hover {
        opacity: 90%;
      }

      .productLink {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: $text-color;

        .imageWrapper {
          width: 100%;
          height: 300px;
          position: relative;

          .productName {
            position: absolute;
            bottom: $padding-horizontal;
            left: $padding-horizontal;
          }
        }

      }
    }
  }
}