@import "./main.scss";

.Categories {
  padding: 20px 60px;

  .CategoriesNavigation{
    margin-bottom: 20px;

    > ul {
      list-style: none;
    }
  }

  .gridContainer {
    //padding: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 4 columnas
    gap: 16px;
  
    .productCard {
      background-color: $background-color;
      border: 1px solid $color-border;
      border-radius: 8px;
      overflow: hidden;
      transition: transform 0.2s;
      height: fit-content;
  
      :hover{
        opacity: 90%;
      }
  
      .productLink {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: $text-color;
  
        .imageWrapper {
          width: 100%;
          height: 300px;
          position: relative;
        }
  
        .productName {
          padding: 10px;
          text-align: center;
        }
      }
    }
  }
}