@import "./main.scss";

.Categories {
  .CategoriesNavigation {
    margin-bottom: $margin-bottom;
    width: 100%;
    height: 100vh;
    padding: $padding-horizontal;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    text-align: start;

    .goBack{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: $gap;
      margin-bottom: $margin-bottom;
      cursor: pointer;
      text-transform: uppercase;
      font-size: $font-normal;

      :hover{
        text-decoration: underline;
      }
    }

    h2 {
      text-transform: uppercase;
    }

    .option {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 5px;

      a {
        min-width: fit-content;
      }

      .circle {
        background-color: transparent;
        min-width: 6px;
        height: 6px;
        border-radius: 50%;
        border: 1px solid $color-cuaternary;
        opacity: 0;
        transition: opacity 0.3s ease, background-color 0.3s ease;
      }

      .activeCircle {
        opacity: 1;
        min-width: 6px;
        background-color: $color-cuaternary;
      }

      .line{
        background-color: $color-cuaternary;
        width: 100%;
        height: $font-normal / 2;
        opacity: 0;
        transition: 0.2s ease;
      }

      .lineactive{
        opacity: 1;
      }

      &:hover {
        .line{
          opacity: 1;
        }
        .circle {
          opacity: 1;
        }
      }
    }
  }

  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: $padding-horizontal;
    gap: 16px;
    min-height: auto;
    overflow: scroll;

    @include respond(phone) {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
    }

    h2 {
      display: none;
      text-transform: uppercase;

      @include respond(phone) {
        display: flex;
      }
    }

    .productCard {
      background-color: $background-color;
      border: 1px solid $color-border;
      overflow: hidden;
      transition: transform 0.2s;
      height: fit-content;

      .productLink {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: $text-color;

        .imageWrapper {
          width: 100%;
          height: 300px;
          position: relative;

          .productName {
            position: absolute;
            bottom: $padding-horizontal;
            left: $padding-horizontal;
          }
        }
      }
    }
  }
}
