@import "./main.scss";

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $background-color; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    opacity: 1; 
    transition: opacity 1s ease-out;

    .imageContainer {
        min-width: 100px;
        height: 100px;
        position: relative;
    }
}

.app .preloader {
    opacity: 0;
    pointer-events: none;
}
