@import "./main.scss";

.ProductDetails {
    width: 100%;

    .goBack {
        text-transform: capitalize;
        display: flex;
        gap: 5px;
        cursor: pointer;
        margin-bottom: $margin-bottom;

        &:hover {
            text-decoration: underline;
        }
    }

    .ProductDetailsHeaderContainer {
        display: flex;
        justify-content: flex-start;
        text-align: start;
        width: 100%;

        .imageBannerContent {
            margin: $margin-bottom 0px;
            width: 100%;

            .imageBanner {
                height: 300px;
                min-height: 70vh;
                position: relative;

                .image {
                    width: 100%;
                    height: 100px;
                }
            }
        }
    }

    .ProductDetailsContent {
        display: flex;
        flex-direction: column;
        text-align: start;
        width: 100%;

        >section {
            margin: $margin-bottom*2 0px;

            label {
                font-weight: bold;
            }

            li {
                list-style: none;
            }
        }
    }

    .ProductDetailsNavigation {
        display: flex;
        justify-content: space-between;

        :hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

}

.ProductSpecs {
    padding: $padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;

    h2 {
        margin-bottom: $margin-bottom;
    }

    .specItem {
        margin-bottom: $margin-bottom;
    }

    .ProductContent {
        overflow: scroll;
    }
}