@import "./main.scss";

.ProductDetails {
    width: 100%;

    .goBack {
        text-transform: capitalize;
        display: flex;
        gap: 5px;
        cursor: pointer;
        margin-bottom: $margin-bottom;

        &:hover {
            text-decoration: underline;
        }
    }

    .ProductDetailsHeaderContainer {
        display: flex;
        text-align: start;
        width: 100%;
        justify-content: center;
        margin-bottom: $margin-bottom;
    }

    .ProductDetailsContent {
        display: flex;
        flex-direction: column;
        text-align: start;
        width: 100%;
        justify-content: space-between;
        min-height: 60vh;

        .information{
            display: flex;
            flex-direction: column;
            gap: $gap;

            .brand{
                font-size: $font-sm;
            }
        }

        >section {
            margin-bottom: $margin-bottom*2 0px;
            text-align: justify;

            p{
                text-justify: auto;
            }

            label {
                font-weight: bold;
            }

            li {
                list-style: none;
            }
        }

        .ProductDetailsActions{
            
            .ProductDetailsNavigation {
                display: flex;
                justify-content: space-between;
                text-transform: capitalize;
                margin-bottom: $margin-bottom;
                text-transform: uppercase;

                :hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }


}

.ProductSpecs {
    padding: $padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;

    h1 {
        margin-bottom: $margin-bottom;
    }

    h2 {
        margin-bottom: $margin-bottom;
    }

    .specItem {
        margin-bottom: $margin-bottom;
    }

    .ProductContent {
        overflow: scroll;
    }
}