@import "./main.scss";

.GridSkeletons {

    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        padding: 0px $padding;
        gap: 16px;
        min-height: auto;
        overflow: scroll;

        @include respond(phone) {
            grid-template-columns: repeat(1, 1fr);
            gap: 16px;
        }

        h2 {
            display: none;

            @include respond(phone) {
                display: flex;
                height: $font-med;
                background-color: $background-color-skeletons;
                width: 40%;
                animation: loading 1s infinite;
            }
        }

        .productCard {
            background-color: $background-color-skeletons;
            overflow: hidden;
            transition: transform 0.2s;
            height: fit-content;
            animation: loading 1s infinite;

            .productLink {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-decoration: none;
                color: $text-color;

                .imageWrapper {
                    width: 100%;
                    height: 300px;
                    position: relative;
                }
            }
        }
    }
}

.layoutRightSkeleton {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;

    @include respond(phone) {
        height: 100%;
        flex-direction: column-reverse;
    }

    .content {
        width: 80%;

        @include respond(tab-port) {
            width: 60%;
        }

        &__secondaryDesign {
            width: 80%;

            @include respond(tab-port) {
                width: 60%;
            }

            @include respond(phone) {
                width: 100%;
                height: 100%;
                margin-top: 0%;
            }

        }

        @include respond(phone) {
            width: 100%;
            height: 100%;
            margin-top: 20%; // 15% of .sidebar phone. + 5%
        }
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow: scroll;
        width: 20%;
        right: 0px;
        margin-bottom: 100px;
        padding: $padding;
        justify-content: space-between;
        align-items: center;

        @include respond(tab-port) {
            width: 40%;
        }

        @include respond(phone) {
            display: none
        }

        .sidebar_content {
            height: calc(100% - 100px);
            width: calc(100%);
            padding-top: $padding;

            @include respond(phone) {
                display: none;
            }
        }

        .sidebar_image {
            min-width: 100px;
            height: 100px;
            position: relative;

            @include respond(phone) {
                position: fixed;
                top: $padding-horizontal;
                right: $padding-horizontal;
                width: 60px;
                height: 60px;
            }

            .imageContainerWeb {
                display: flex;
                width: 100%;
                height: 100%;
                background-color: $background-color-skeletons;
                animation: loading 1s infinite;

                @include respond(phone) {
                    display: none;
                }
            }

            .imageContainerMovil {
                display: flex;
                width: 100%;
                height: 100%;
                background-color: $background-color-skeletons;
                animation: loading 1s infinite;
            }
        }
    }

    .sidebarlogomobil {
        display: none;
        position: fixed;
        top: $padding;
        right: $padding;
        width: 60px;
        height: 60px;
        z-index: 99;

        @include respond(phone) {
            display: flex
        }
    }

    .sidebarMobil {
        display: none;
        padding: $padding;

        @include respond(phone) {
            display: flex
        }
    }

    .menu {
        .hamburguer {
            position: fixed;
            z-index: 9999;
            transform: translateX(50%);
            position: fixed;
            right: 10%;
            bottom: $padding-horizontal * 4;

            @include respond(tab-port) {
                right: 20%;
                max-width: 360px;
            }

            @include respond(phone) {
                top: $padding + 20px;
                left: $padding;
                transform: translateX(0%);
                width: fit-content;
                height: fit-content;
            }

            .bar {
                width: 50px;
                height: 2px;
                background-color: $background-color-skeletons;
                margin-bottom: $margin-bottom / 2;
                transition: all 0.3s ease;
                animation: loading 1s infinite;
            }
        }
    }
}

.SideBarSkeleton {
    .goBack {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $gap;
        margin-bottom: $margin-bottom;

        p {
            height: $font-normal;
            background-color: $background-color-skeletons;
            animation: loading 1s infinite;
            width: 15%;
        }
    }

    h1 {
        height: $font-med * 2;
        width: 80%;
        background-color: $background-color-skeletons;
        animation: loading 1s infinite;
        margin-bottom: $margin-bottom;
    }

    .SideBarSkeletonContent {
        display: flex;
        flex-direction: column;

        >p {
            height: $font-normal;
            width: 55%;
            background-color: $background-color-skeletons;
            margin-bottom: $margin-bottom;
        }
    }
}

.ContactSkeleton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: $padding-horizontal;
    background-color: rgba($color: $background-color-secondary, $alpha: 0.25);
    width: 100%;

    &.center {
        padding: $padding-horizontal * 5;

        @include respond(tab-port) {
            background-color: $background-color;
        }
    }

    .ContactContent {
        width: 100%;
        display: flex;
        flex-direction: column;

        .ContactHeader {
            position: relative;
            bottom: $padding;
            width: 100%;
            z-index: 999;

            h1 {
                height: $font-big;
                width: 40%;
                background-color: $background-color-skeletons;
                animation: loading 1s infinite;

                @include respond(tab-port) {
                    width: 90%;
                }
            }
        }

        .ContactForm {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            @include respond(tab-port) {
                width: 100%;
            }

            .inputContainer {
                display: flex;
                margin-bottom: $margin-bottom;
                flex-direction: column;
                justify-content: center;

                label {
                    height: $font-normal;
                    width: 10%;
                    background-color: $background-color-skeletons;
                    animation: loading 1s infinite;
                    margin-bottom: $margin-bottom;

                    @include respond(tab-port) {
                        width: 50%;
                    }
                }

                div {
                    height: calc(16px + $padding-horizontal * 2);
                    width: 50%;
                    background-color: $background-color-skeletons;
                    animation: loading 1s infinite;

                    @include respond(tab-port) {
                        width: 100%;
                    }
                }
            }

            .button {
                height: 30px;
                width: 15%;
                background-color: $background-color-skeletons;
                animation: loading 1s infinite;

                @include respond(tab-port) {
                    width: 50%;
                }
            }
        }
    }

    .ContactFooter {
        margin-top: $margin-bottom * 5;
        display: flex;
        flex-direction: row;
        gap: $padding;

        :hover {
            cursor: pointer;
            text-decoration: underline
        }
    }
}

.ProductDetailsSkeleton {
    width: 100%;

    .goBack {
        height: $font-normal;
        background-color: $background-color-skeletons;
        animation: loading 1s infinite;
        margin-bottom: $margin-bottom;
        width: 15%;
    }

    .ProductDetailsHeaderContainer {
        display: flex;
        justify-content: flex-start;
        text-align: start;
        width: 100%;

        h2 {
            height: $font-med * 2;
            width: 50%;
            animation: loading 1s infinite;
            background-color: $background-color-skeletons;
        }

        .imageBannerContent {
            margin: $margin-bottom 0px;
            width: 100%;

            .imageBanner {
                height: 300px;
                min-height: 70vh;
                position: relative;

                .image {
                    width: 100%;
                    height: 100px;
                }
            }
        }
    }

    .ProductDetailsContent {
        display: flex;
        flex-direction: column;
        text-align: start;
        width: 100%;

        >section {
            margin: $margin-bottom*2 0px;
            width: 100%;
            height: fit-content;

            h3 {
                font-weight: bold;
                height: $font-normal;
                width: 30%;
                background-color: $background-color-skeletons;
                animation: loading 1s infinite;
                margin-bottom: $margin-bottom;
            }

            p {
                font-weight: bold;
                height: $font-normal;
                width: 100%;
                background-color: $background-color-skeletons;
                animation: loading 1s infinite;
                margin-bottom: $margin-bottom;
            }
        }

        .button {
            width: 100%;
            height: 30px;
            animation: loading 1s infinite;
            background-color: $background-color-skeletons;
            margin-bottom: $margin-bottom;
        }
    }

    .ProductDetailsNavigation {
        display: flex;
        justify-content: space-between;

        /* p {
            height: $font-normal;
            width: 50%;
            background-color: $background-color-skeletons;
            animation: loading 1s infinite;
        } */

        :hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

}

.sliderContainerSkeleton {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: $background-color-skeletons;
    animation: loading 1s infinite;

    @include respond(phone) {
        height: 80vh;
    }
}

@keyframes loading {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}